@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.woff2"),
    url("../fonts/Lato-Regular.woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Bold.woff2"),
    url("../fonts/Lato-Bold.woff");
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Black.woff2"),
    url("../fonts/Lato-Black.woff");
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}

:root {
    --accent-color: #f10e34;
    --dark-color: #222222;
    --light: #ffffff;
    --bg-color: #f3f3f3;
    --grid-gap: 40px;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

p, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

input {
    border: none;
}

button {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    background-color: var(--accent-color);
}

/* form {
    margin: 0;
    padding: 0;
    border: none;
} */

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* .btn-reset {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
} */

body {
    overflow-anchor: none;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    background-color: var(--bg-color);
}

.bold {
    font-weight: 700;
}
.container {
    max-width: 1170px;
    padding: 0;
    margin: 0 auto;
    /* border: 1px solid green; */
}

/* ---Header--- */
.header {
    /* height: 115px; */
    /* padding-top: 37px; */
    background-color: var(--dark-color);
}
.header-container {
    height: 115px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo {
    transform: translateX(2px);
}
.header__right {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}
.header-nav__list {
    display: flex;
    align-items: center;
    padding-right: 5px;
    font-size: 12px;
}
.header-nav__item {
    padding-top: 3px;
}
.header-nav__item:not(:last-child) {
    /* border-right: 1px solid white; */
    /* margin-right: 20px; */
    padding-right: 10px;
}
.header-nav__link {
    color: var(--light);
}
.header-hr {
    margin-right: 10px;
    width: 10px;
    color: var(--light);
    transform: rotate(90deg);
    /* border: none */
}
.header-search {
    display: flex;
}

.header-form {
    display: flex;
    padding-right: 42px;
}
.header-form__input {
    width: 531px;
    height: 37px;
    font-size: 15px;
    padding-left: 25px;
    border-radius: 5px 0px 0px 5px;
}
.header-form__btn {
    background-image: url("../img/Header/searchBtn.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 54px;
    height: 37px;
    border-radius: 0px 5px 5px 0;
}
.header-cart {
    color: var(--light);
    display: flex;
}
.header-cart__btn {
    background-image: url("../img/Header/cart.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 37px;
    margin-right: 3px;
    border-radius: 100%;
}
.header-cart__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-cart__title {
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 2px;
}
.header-cart__subtotal {
    font-size: 14px;
    padding-right: 12px;
}
/* ---Header--- */

/* ---Navbar--- */
.nav {
    background-color: var(--accent-color);
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 51px; */
    padding: 20px 66px 15px 0;
    font-size: 15px;
    text-transform: uppercase;
    color: var(--light);
}
.toggle {
    padding-left: 25px;
}
.toggle::before {
    padding-right: 13px;
    content: url("../img/Navbar/toggle.png");
    color: var(--light);
}
.nav__list {
    display: flex;
    align-items: center;
}
.nav__item:not(:last-child) {
    margin-right: 44px;
}
/* ---Navbar--- */

/* ---MAIN--- */
.main {
    margin-bottom: var(--grid-gap);
}
.main-container {
    display: flex;
    justify-content: space-between;
}
.menu {
    width: 298px;
    padding: 17px 25px;
    padding-right: 15px;
    font-size: 15px;
    background-color: var(--light);
}
.menu__item::before {
    content: url("../img/Main/li-before.png");
    margin-right: 19px;
}
.menu__item:not(:last-child) {
    margin-bottom: 16px;
}
.menu__line {
    width: 100%;
    margin-bottom: 16px;
}
.banner {
    background-image: url("../img/Main/main-bg-full.png");
    background-position: top -5px right -5px;
    background-repeat: no-repeat;
}
.banner__footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    color: var(--light);
    background-color: var(--accent-color);
}
.banner__footer .offer  {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 22px 47px;
}
.banner__offer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 70px;
    padding-top: 88px;
    padding-right: 350px;
}
.banner__footer .title {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.banner__title {
    color: #303a7a;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -1.5px;
    line-height: 40px;
    margin: 0;
}
.banner__descr1 {
    color: var(--light);
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: -2px;
}
.banner__descr2 {
    color: var(--light);
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: -2px;
    margin-bottom: 46px;
}
.banner__btn {
    padding: 9px 15px 8px 25px;
    border: 3px solid var(--dark-color);
    background: transparent;
}
.banner__btn .title {
    letter-spacing: -1px;
    margin: 0;
}
/* ---MAIN--- */

/* ---Content--- */
   
.content__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gap);
}
.sidebar {
    grid-column: 1;
}
.sidebar__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--grid-gap);
}
.article-block {
    grid-column: 3 span;
}
.articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--grid-gap);
}


.post {
    background-color: var(--light);
    padding: 25px 20px;
}
.post__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 2px solid #cacaca;
    margin-bottom: 20px;
}
.post__title h2 {
    text-transform: uppercase;
}
.post .right {
    display: flex;
    align-items: center;
}
.post__title .category {
    font-size: 15px;
    color: #cacaca;
    display: flex;
    margin-right: 45px;
}
.post__title .category__item:not(:last-child) {
    margin-right: 27px;
}
.post .next-btn, .prev-btn {
    /* align-self: end; */
    width: 22px;
    height: 22px;
    border-radius: 100%;
}
.post .prev-btn {
    margin-right: 7px;
}
.post__content {
    display: flex;
    justify-content: space-between;
    /* padding: 0 20px; */
}
.post__img {
    margin-bottom: 18px;
}
.post__img img {
    width: 100%;
}
.post__content .post__descr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.post__descr p {
    margin-bottom: 10px;
}
.post:hover {
    box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.post1, .post4, .post5, .post6 {
    grid-column: 2 span;
}
.post5 {
    display: flex;
    justify-content: flex-end;
    padding: 40px 35px;
    padding-bottom: 55px;
    background-image: url(../img/section/post5.png);
    background-position: center;
    background-size: cover;
}
.post5 h2 {
    text-transform: uppercase;
}
.post5 p {
    color: #0f8ce9;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 23px;
}
.post6 {
    margin-bottom: 60px;
}
.post6 .post__content {
    flex-wrap: wrap;
    padding-top: 10px;
}
.post6 .item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
}
.post6 .post__img {
    margin: 0;
    margin-right: 30px;
}
.post6 .post__descr {
    align-items: start;
}

.sidebar .post__content {
    justify-content: center;
}
.subscribe p {
    font-size: 15px;
    margin-bottom: 20px;
}
.subscribe input {
    font-family: "Lato", serif;
    font-weight: 400;
    width: 100%;
    height: 43px;
    margin-bottom: 20px;
    padding: 0 20px;
    background-color: var(--bg-color);
    border-radius: 3px;
}
.subscribe-btn {
    font-family: "Lato", serif;
    font-weight: 400;
    height: 43px;
    color: var(--light);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 14px 25px;
    padding-bottom: 16px;
    border-radius: 20px;
}
.sidebar .ads {
    transition:background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.sidebar .ads a {
    width: 100%;
    height: 100%;
}
.sidebar .ads:hover {
    background: #fff;
    box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2);
}
/* ---Content--- */

/* ---Brands--- */
.brand {
    background-color: var(--accent-color);
}
.brand__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;    
    padding: 40px 0;
}
.brand img {
    mix-blend-mode: screen;
}


